<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else%}{{ site.description }}{% endif %}">
	<meta name="author" content="">

	<title>{% if page.title %}{{ page.title }}{% else%}{{ site.title }}{% endif %}</title>

	<!-- Bootstrap core CSS -->
	<link href="http://localhost:4000/assets/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="http://localhost:4000/assets/blog.css" rel="stylesheet">
</head>